    <div class="navigation">
        <ul>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/" target="_blank">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list page-list">
                <b></b>
                <b></b>
                <a href="/admin/pages">
                    <span class="icon"><i class="fas fa-pager"></i></span>
                    <span class="title">Pages</span>
                </a>
            </li>
            <li class="list cat-list">
                <b></b>
                <b></b>
                <a href="/admin/categories">
                    <span class="icon"><i class="fas fa-list"></i></span>
                    <span class="title">Categories</span>
                </a>
            </li>
            <li class="list p-list">
                <b></b>
                <b></b>
                <a href="/admin/products">
                    <span class="icon"><i class="fab fa-product-hunt"></i></span>
                    <span class="title">Products</span>
                </a>
            </li>
            <li class="list order-list">
                <b></b>
                <b></b>
                <a href="/admin/order">
                    <span class="icon"><i class="fas fa-box-open"></i></span>
                    <span class="title">Customer's Order</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="/user/logout">
                    <span class="icon"><i class="fas fa-power-off"></i></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle">
        <i class="fas fa-bars open"></i>
        <i class="fas fa-times close"></i>
    </div>

